@import url("https://fonts.googleapis.com/css?family=Ubuntu");

:root{
    --background: #101010;
    --background-two: #202020;
    --foreground: #f5f6f7;
	--theme: #5865F2;
	--success: #5cb85c;
	--error: #d9534f;
}
body {
    font-family: 'Ubuntu', sans-serif;
    color: var(--foreground);
    background-color: var(--background);
    overflow: hidden;
}
a {
    color: var(--foreground)
}
img {
    width:500;
}
.web {
    display: inline-block;
    width: 400px;
    box-shadow: 0 0 10px var(--foreground);
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.web-text {
    padding-left: 24px;
}
.container {
    position:relative;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--foreground);
    margin-bottom: 2em;
}
.container-content {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 24px;
}
.container-close {
    position:absolute;
    right:0;
    top:0;
    background-color: var(--error);
    border:none;
    display:inline-block;
    padding:8px 16px;
    border-radius: 5px 10px 5px 5px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
}